.large-heading {
    font-size: clamp(3rem, 8vw, 7rem);
    font-weight: 700;
    line-height: 1.1;
}


.social-icons a {
  font-size: 50px;
  margin: 30px;
  color: #333;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}


body{

    font-family:Arial, Helvetica, sans-serif;

    background:#f5f5f5;

    color:#111;

}



/* Sidebar */

.sidebar{

    position:fixed;

    width:270px;

    height:100vh;

    background:white;

    padding:30px;

    text-align:center;

    box-shadow:2px 0 15px rgba(0,0,0,.1);

}


.profile-photo{

    width:150px;

    height:150px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid #222;

    animation:zoom 1s;

}



.sidebar h2{

    margin:20px 0;

}



/* Navigation */


nav a{

    display:block;

    padding:15px;

    text-decoration:none;

    color:black;

    font-weight:bold;

    transition:.3s;

}


nav a:hover{

    background:#111;

    color:white;

    transform:translateX(10px);

}



/* Main */


main{

    margin-left:270px;

}



.section{

    min-height:100vh;

    padding:80px;

    display:flex;

    justify-content:center;

    flex-direction:column;

    opacity:0;

    transform:translateY(50px);

    transition:1s;

}



.section.show{

    opacity:1;

    transform:translateY(0);

}



.home{

    text-align:center;

    align-items:center;

}



.home h1{

    font-size:45px;

}



#typing{

    color:#0066ff;

}



.section h2{

    font-size:35px;

    margin-bottom:20px;

}





.cards{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}



.card{

    background:white;

    padding:30px;

    width:150px;

    text-align:center;

    font-weight:bold;

    border-radius:10px;

    box-shadow:0 5px 15px #ddd;

    transition:.4s;

}



.card:hover{

    transform:translateY(-10px);

    background:#D9D9D9;

    color:white;

}



/* Mobile menu */


.mobile-header{

    display:none;

}



@keyframes zoom{

from{

transform:scale(0);

}

to{

transform:scale(1);

}

}




/* Mobile Responsive */


@media(max-width:768px){


.sidebar{

    left:-270px;

    transition:.5s;

    z-index:1000;

}


.sidebar.active{

    left:0;

}


.mobile-header{

    display:block;

    position:fixed;

    top:10px;

    right:20px;

    z-index:2000;

}


#menuBtn{

    font-size:30px;

    background:none;

    border:none;

    cursor:pointer;

}



main{

    margin-left:0;

}



.section{

    padding:40px 25px;

}



.home h1{

    font-size:30px;

}



}